<ion-header>
  <ion-toolbar>
    <ion-title>albums</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item button *ngFor="let item of (results | async)" [routerLink]="['/', 'album', item.id]">
      <ion-label text-wrap>       
        <h3>{{ item.title }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar color="dark" >
    <ion-button [routerLink]="['/', 'home']">
      <ion-icon slot="start" name="document" ></ion-icon>
      Fotos y videos
    </ion-button>
    <ion-button >
      <ion-icon slot="start" name="document"></ion-icon>
      Web Services
    </ion-button>
  </ion-toolbar>
</ion-footer>
